<!-- addCustomer.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        button.back-button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 20px;
        }
    
        h1 {
            text-align: center;
            padding: 20px;
            background-color: #db3838;
            color: #fff;
            margin: 0;
            width: 100%;
        }
    
        form {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        label {
            display: block;
            margin-bottom: 10px;
        }
    
        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
    
        button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
        button:hover {
            background-color: #2980b9;
        }
    </style>
    
</head>

<body>
    <h1>Add Customer</h1>
    <form action="/customer/new" method="post">

        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="address">Address:</label>
        <textarea name="address" rows="4"></textarea>

        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" name="phoneNumber">

        <button type="submit">Add Customer</button>
    </form>

    <button class="back-button" onclick="location.href='/'">Back to Homepage</button>

</body>

</html>