<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
  <style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        color: #333;
    }

    h2 {
        text-align: center;
        padding: 20px;
        background-color: #db3838;
        color: #fff;
        margin: 0;
    }

    .add-form {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: #db3838;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #2980b9;
    }
</style>

  
</head>

<body>
  <h2>Add New Category</h2>
  <div class="add-form">
    <form action="/categories/insert" method="post">
      <label for="newName">Category Name:</label>
      <input type="text" id="newName" name="newName" required>
      <button type="submit">Add Category</button>
    </form>
  </div>
</body>

</html>
