<!-- brandsList.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Brands</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        
    
        h1 {
            text-align: center;
            padding: 20px;
            background-color: #db3838;
            color: #fff;
            margin: 0;
            width: 100%;
        }
    
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    
        th {
            background-color: #db3838;
            color: #fff;
        }
    
        tr:hover {
            background-color: #f5f5f5;
        }
    
        a {
            text-decoration: none;
            color: #db3838;
            margin-right: 10px;
            cursor: pointer;
        }
    
        a:hover {
            text-decoration: underline;
        }
    
        button.add-button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        button.back-button {
            background-color: #db3838;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
    </style>
    
</head>

<body>
    <h1>List of Brands</h1>

    <table>
        <thead>
            <tr>
                <th>Brand ID</th>
                <th>Brand Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% brands.forEach(brand => { %>
                <tr>
                    <td><%= brand.brand_id %></td>
                    <td><%= brand.name %></td>
                    <td><a href="/brand/edit/<%= brand.brand_id %>">Edit</a></td>
                    <td><a href="/brand/delete/<%= brand.brand_id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <button class="add-button" onclick="location.href='/brand/new'">Add New Brand</button>
    <button class="back-button" onclick="location.href='/'">Back to Homepage</button>

</body>

</html>